<%- include('./partials/adminHeader.ejs') %>

<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-12 col-xl-12">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Animal Category</h6>
        <form action="/admin/addAnimal" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Animal</label>
            <input
              type="text"
              name="animal"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>

          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
    </div>

    <div class="col-sm-12 col-xl-12">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Animal List</h6>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Animal Name</th>
              <th scope="col">Options</th>
              <!-- <th scope="col">Email</th> -->
            </tr>
          </thead>
          <tbody>
            <% animalCategory.forEach((animals)=>{ %>

            <tr>
              <th scope="row"><%= index++ %></th>
              <td><%= animals.animal %></td>
              <td>
                <form
                  action="/admin/deleteAnimal/<%= animals._id %>"
                  method="post"
                >
                  <button type="submit" class="btn btn-primary">Delete</button>
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/adminFooter.ejs') %>
