<%- include('./partials/adminHeader.ejs') %>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4">
                <span class="text-muted fw-light">Categories</span>
              </h4>

              <!-- <form action="/admin/addMainCategory" >  -->
             <a href="/admin/addMainCategory">  <button type="submit" class="btn btn-success " style="margin-left: 1040px;">Add Category</button></a> 
              <!-- </form> -->

            <div class="row">
              
                <% subCategory.forEach(function(y) { %>
                  <div class="col-md-6 col-xl-4 mt-3">
                  <a href="/admin/editCategory/<%= y._id %>">
                  <div class="card bg-dark border-0 text-white">
                   
                      <img class="card-img" style="height: 250px;width: 100%;" src="/images/petproduct/<%= y.image %>" alt="Card image" />
                      <div class="card-img-overlay">
                        <h5 class="card-title text-primary "><%= y.category_id.category  %>  </h5>
                    <h5 class="card-title text-secondary ">  <%= y.subCategory  %> </h5>
                    
                  </div>
                </a>
                </div>
              </a>
              </div>
              <% }) %>
              
              <div class="col-md-6 col-xl-4 mt-3">
                <a href="/admin/categoryForm">
                <div class="card bg-dark border-0 text-white">
                  <img class="card-img" style="height: 250px;width: 100%;" src="/public/admin/img/elements/11.jpg"  />
                  <div class="card-img-overlay  text-center ">
                    <button class="btn btn-secondary" style="margin-top: 80px;">Add Sub Category</button>
                    
                    
                  </div>
                </div>
              </a>
              </div>
            </div>
               
                </div>

                
                </div>
              </div>
            </div>
          </div>
            <!-- Form Layout -->

            <!-- / Content -->

            <%- include('./partials/adminFooter.ejs') %>