<%- include('adminHeader.ejs') %>
<div class="col-sm-12 col-xl-12">
  <div class="bg-secondary rounded h-100 p-4">
    <h6 class="mb-4">Products</h6>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Animal name</th>
          <th scope="col">Sub Category</th>
          <th scope="col">Product Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach(function(product){ %>
        <tr>
          <th scope="row"><%= index++ %></th>
          <td><%= product.animal %></td>
          <td><%= product.age%></td>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td>
            <img src='/images/petproduct/<%= product.image[0] %>' alt=""
            style="height: 50px; width: 60px;"
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<%- include('adminFooter.ejs') %>
