<%- include('./partials/userHeader.ejs') -%>
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1 class="page-name">Checkout</h1>
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">checkout</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="page-wrapper">
  <div class="checkout shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <% if(address !=0){ %>
          <div class="block billing-details">
            <h4 class="widget-title">Billing Details</h4>
            <form class="checkout-form">
              <div class="form-group">
                <label for="full_name"><strong> Full Name</strong>:</label>
                <input
                  type="text"
                  class="form-control"
                  id="full_name"
                  placeholder="<%= address[index].fullName %>"
                />
              </div>
              <div class="form-group">
                <label for="user_address"><strong>Address</strong></label>
                <input
                  type="text"
                  class="form-control"
                  id="user_address"
                  placeholder="<%= address[index].houseName %>"
                />
              </div>
              <div class="checkout-country-code clearfix">
                <div class="form-group">
                  <label for="user_post_code"><strong>Pin Code</strong></label>
                  <input
                    type="text"
                    class="form-control"
                    id="user_post_code"
                    name="pincode"
                    value="<%= address[index].pincode %>"
                  />
                </div>
                <div class="form-group">
                  <label for="user_city"><strong>City</strong></label>
                  <input
                    type="text"
                    class="form-control"
                    id="user_city"
                    name="city"
                    value="<%= address[index].city %>"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="user_country"><strong>State</strong></label>
                <input
                  type="text"
                  class="form-control"
                  id="user_country"
                  placeholder="<%= address[index].state %>"
                />
              </div>
            </form>
          </div>
          <% } %>
          <div class="block">
            <h4 class="widget-title">ADD/CHANGE ADDRESS</h4>
            <!-- <p>Credit Cart Details (Secure payment)</p> -->
            <button
              type="button"
              data-toggle="collapse"
              data-target="#newAddress"
              aria-expanded="false"
              aria-controls="newAddress"
            >
              ADD NEW ADDRESS
            </button>
            <div class="collapse" id="newAddress">
              <div class="card card-body mt-4">
                <form action="/checkoutNewAddress" class="mb-0" method="post">
                  <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="form9Example1"
                          name="fullName"
                          class="form-control input-custom"
                        />
                        <label class="form-label" for="form9Example1"
                          >Full name</label
                        >
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="form9Example2"
                          name="houseName"
                          class="form-control input-custom"
                        />
                        <label class="form-label" for="form9Example2"
                          >House name / Office name</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="form9Example3"
                          name="city"
                          class="form-control input-custom"
                        />
                        <label class="form-label" for="form9Example3"
                          >City</label
                        >
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <input
                          type="text"
                          id="form9Example4"
                          name="state"
                          class="form-control input-custom"
                        />
                        <label class="form-label" for="form9Example4"
                          >State</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline">
                        <input
                          type="number"
                          id="form9Example6"
                          name="pincode"
                          class="form-control input-custom"
                        />
                        <label class="form-label" for="form9Example6"
                          >Pincode</label
                        >
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <input
                          type="number"
                          id="typeEmail"
                          name="phone"
                          class="form-control input-custom"
                        />
                        <label class="form-label" for="typeEmail">Phone</label>
                      </div>
                    </div>
                  </div>

                  <div class="float-end">
                    <!-- Submit button -->
                    <button
                      type="submit"
                      class="btn btn-primary btn-rounded"
                      style="background-color: #0062cc"
                    >
                      add address
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <button
              class="btn text-primary"
              data-toggle="collapse"
              data-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <h6 class="text-info">CHANGE ADDRESS</h6>
            </button>

            <div class="collapse" id="collapseExample">
              <form action="/changeAddress" method="post">
                <div class="card card-body">
                  <% address.forEach(function(address,index){ %>
                  <div class="form-check card card-body">
                    <input
                      class="form-check-input"
                      type="radio"
                      value="<%= index %>"
                      name="index"
                      id="exampleRadios1"
                      value="option1"
                    />
                    <label class="form-check-label" for="exampleRadios1">
                      <p>
                        <strong>Name :</strong>

                        <%= address.fullName %>
                      </p>
                      <p>
                        <strong>house Name :</strong>
                        <%= address.houseName %>
                      </p>
                      <p>
                        <strong>City :</strong>
                        <%= address.city %>
                      </p>
                      <p>
                        <strong>State :</strong>
                        <%= address.state %>
                      </p>
                      <p>
                        <strong>Pincode :</strong>
                        <%= address.pincode %>
                      </p>
                      <p>
                        <strong>Phone Number :</strong>
                        <%= address.phone %>
                      </p>
                    </label>
                  </div>
                  <% }) %>
                  <button
                    type="submit"
                    class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10"
                  >
                    Deliver Here
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="product-checkout-details">
            <div class="block">
              <h4 class="widget-title">Order Summary</h4>
              <% cartItems.forEach(function(product){ %>
              <div class="media product-card">
                <a
                  class="pull-left"
                  href="/productdetail/<%= product.productId._id %>"
                >
                  <img
                    class="media-object"
                    src="/images/petproduct/<%= product.productId.image %>"
                    alt="Image"
                    style="width: 60px"
                  />
                </a>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="/productdetail/<%= product.productId._id %>"
                      ><%= product.productId.name %></a
                    >
                  </h4>
                  <p class="price">Quantity : <%= product.quantity %></p>
                  <!-- <span class="remove">Remove</span> -->
                  <p><strong>Total :₹ <%= product.total %> </strong></p>
                </div>
              </div>
              <% }) %>
              <div class="discount-code">
                <p>
                  Have a discount ?
                  <a data-toggle="modal" data-target="#coupon-modal" href="#!"
                    >enter it here</a
                  >
                </p>
              </div>

              <ul class="summary-prices">
                <li>
                  <span>Subtotal:</span>
                  <span class="price">₹ <%= cartTotal+discount %></span>
                </li>
                <li>
                  <span>Discount:</span>
                  <span class="price"> ₹<%= discount %> </span>
                </li>
                <li>
                  <span>Shipping:</span>
                  <span>Free</span>
                </li>
              </ul>

              <div class="summary-total">
                <span>Total</span>
                <span>₹ <%= cartTotal %></span>

                <div class="form-check p-t-10">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="paymentMethod"
                    id="paynow"
                    value="Razorpay"
                    checked
                  />
                  <label class="form-check-label" for="paynow">
                    Razorpay
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="paymentMethod"
                    id="cod"
                    value="COD"
                  />
                  <label class="form-check-label" for="cod">
                    Cash on delivery
                  </label>
                </div>
                <% if(address != 0 ) {%>
                <button
                  onclick="placeOrder('<%= index %>')"
                  class="btn-success mt-4 flex-c-m stext-101 cl0 size-116 bor14 p-lr-15 trans-04 pointer"
                >
                  Place Order
                </button>
                <% }else { %>
                <button
                  onclick="adressError()"
                  class="btn-success mt-4 flex-c-m stext-101 cl0 size-116 bor14 p-lr-15 trans-04 pointer"
                >
                  Place Order
                </button>
                <% } %>
              </div>
              <div class="verified-icon">
                <img src="user/images/shop/verified.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              placeholder="Enter Coupon Code"
            />
          </div>
          <button type="submit" class="btn btn-main">Apply Coupon</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  function placeOrder(index) {
    let num = parseInt(index);

    let paymentMethod = document.getElementById("cod").checked
      ? "COD"
      : "Razorpay";

    $.ajax({
      url: "/placeOrder",
      data: {
        index: num,
        paymentMethod: paymentMethod,
      },
      method: "post",
      success: (response) => {
        if (response.codSuccess) {
          location.href = "/orderSuccess";
        } else {
          razorpayPayment(response);
        }
      },
    });
  }
  function razorpayPayment(order) {
    var options = {
      key: "rzp_test_mp1q8YWcYr4vEC", // Enter the Key ID generated from the Dashboard
      amount: order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      currency: "INR",
      name: "Petplanet",
      description: "Test Transaction",
      image: "https://example.com/your_logo",
      order_id: order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      callback_url: "https://eneqd3r9zrjok.x.pipedream.net/",
      handler: function (response) {
        // alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)

        verifyPayment(response, order);
      },
      prefill: {
        name: "Rinshad",
        email: "rinshadcp37@gmail.com",
        contact: "8606509017",
      },
      notes: {
        address: "Razorpay Corporate Office",
      },
      theme: {
        color: "#7c7efc",
      },
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
  }
  function verifyPayment(payment, order) {
    $.ajax({
      url: "/verifyPayment",
      data: {
        payment,
        order,
      },
      method: "post",
      success: (response) => {
        if (response.status) {
          location.href = "/orderSuccess";
        } else {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Payment Failed!",
          });
        }
      },
    });
  }

  function getcoupen(cartTotal, cartId) {
    const code = document.querySelector("#codeInput").value;
    $.ajax({
      url: "/checkCoupen",
      data: {
        cartTotal,
        cartId,
        code,
      },
      method: "post",
      success: (response) => {
        if (response.apply) {
          window.location.reload();
          Swal.fire({
            icon: "success",
            title: "Success",
            text: "coupon applied",
          });
        } else if (response.exist) {
          Swal.fire({
            icon: "error",
            title: "Bad luck",
            text: "coupon already applied",
          });
        } else {
          Swal.fire({
            icon: "error",
            title: "Bad luck",
            text: "coupon not exist",
          });
        }
      },
    });
  }
  function adressError() {
    Swal.fire({
      icon: "error",
      title: "Oops...",
      text: "Address not added!",
    });
  }
</script>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>

<script>
  $(document).ready(function () {
    var quantitiy = 0;
    $(".quantity-right-plus").click(function (e) {
      // Stop acting like a button
      e.preventDefault();
      // Get the field name
      var quantity = parseInt($("#quantity").val());

      // If is not undefined

      $("#quantity").val(quantity + 1);

      // Increment
    });

    $(".quantity-left-minus").click(function (e) {
      // Stop acting like a button
      e.preventDefault();
      // Get the field name
      var quantity = parseInt($("#quantity").val());

      // If is not undefined

      // Increment
      if (quantity > 0) {
        $("#quantity").val(quantity - 1);
      }
    });
  });
</script>

<%- include('./partials/userFooter.ejs') %>
