<%- include('./partials/userHeader.ejs') %>
<div class="hero-slider">
  <% banner.forEach(function(x){ %>
  <div
    class="slider-item th-fullpage hero-area"
    style="background-image: url('/images/petproduct/<%= x.image %>')"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-center">
          <p
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".1"
          >
            PetPlanet
          </p>
          <h1
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".5"
          >
            We Have Everything <br />
            For Pet Lover
          </h1>
          <a
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".8"
            class="btn"
            href="shop.html"
            >Shop Now</a
          >
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</div>

<!-- <div
    class="slider-item th-fullpage hero-area"
    style="background-image: url(images/slider/slider-3.jpg)"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-left">
          <p
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".1"
          >
            PRODUCTS
          </p>
          <h1
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".5"
          >
            The beauty of nature <br />
            is hidden in details.
          </h1>
          <a
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".8"
            class="btn"
            href="shop.html"
            >Shop Now</a
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class="slider-item th-fullpage hero-area"
    style="background-image: url(images/slider/slider-2.jpg)"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-right">
          <p
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".1"
          >
            PRODUCTS
          </p>
          <h1
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".5"
          >
            The beauty of nature <br />
            is hidden in details.
          </h1>
          <a
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".8"
            class="btn"
            href="shop.html"
            >Shop Now</a
          >
        </div>
      </div>
    </div>
  </div> -->

<section class="product-category section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title text-center">
          <h2>Lets <b>Shop</b> by <b>Pet</b></h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="category-box">
          <a href="/category">
            <img src="/images/dog3.jpg" alt="" />
            <div class="content">
              <h3>Dogs</h3>
              <p>Dog Accessories</p>
            </div>
          </a>
        </div>
        <div class="category-box">
          <a href="#!">
            <img src="/images/Cat2.jpg" alt="" />
            <div class="content">
              <h3>Cats</h3>
              <p>Cat Accessories</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="category-box category-box-2">
          <a href="#!">
            <img src="/images/bird3.jpg" alt="" />
            <div class="content">
              <h3>Birds</h3>
              <p>Bird Accessories</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="products section bg-gray">
  <div class="container">
    <div class="row">
      <div class="title text-center">
        <h2>Recommended Products</h2>
      </div>
    </div>
    <div class="row">
      <% products.forEach(function(x){%> <% if(x.status == "listed") { %>
      <div class="col-md-4">
        <div class="product-item">
          <div class="product-thumb">
            <span class="bage">Sale</span>
            <img
              class="img-responsive"
              style="width: auto; height: auto"
              src="images/petproduct/<%= x.image %>"
              alt="product-img"
            />
            <div class="preview-meta">
              <ul>
                <!-- <li>
                  <span data-toggle="modal" data-target="#product-modal">
                    <i class="tf-ion-ios-search-strong"></i>
                  </span>
                </li> -->
                <li>
                  <a onclick="itemAdded('<%= x._id %>')"
                    ><i class="tf-ion-ios-heart"></i
                  ></a>
                </li>
                <li>
                  <a href="/moveToCart/<%= x._id %>"
                    ><i class="tf-ion-android-cart"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h4><a href="product-single.html"><%= x.name %> </a></h4>
            <p class="product-short-description"><%= x.description %></p>
            <p class="price">₹ <%=x.price %></p>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <!-- <div class="modal product-modal fade" id="product-modal">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <i class="tf-ion-close"></i>
        </button>
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <div class="modal-image">
                    <img
                      class="img-responsive"
                      src="images/petproduct/"
                      alt="product-img"
                    />
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="product-short-details">
                    <h2 class="product-title"></h2>
                    <p class="product-price">₹ %= x.price %></p>
                    <p class="product-price"></p>
                    <p class="product-short-description">
                    </p>
                    <a href="/cart" class="btn btn-main">Add To Cart</a>
                    <a href="/product-single" class="btn btn-transparent"
                      >View Product Details</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- /.modal -->
      <% } %> <% }) %>
    </div>
  </div>
</section>

<!--
Start Call To Action
==================================== -->
<section class="call-to-action bg-gray section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title">
          <h2>SUBSCRIBE TO NEWSLETTER</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat,
            <br />
            facilis numquam impedit ut sequi. Minus facilis vitae excepturi sit
            laboriosam.
          </p>
        </div>
        <div class="col-lg-6 col-md-offset-3">
          <div class="input-group subscription-form">
            <input
              type="text"
              class="form-control"
              placeholder="Enter Your Email Address"
            />
            <span class="input-group-btn">
              <button class="btn btn-main" type="button">Subscribe Now!</button>
            </span>
          </div>
          <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</section>
<!-- End section -->
<script>
  function itemAdded(id) {
    $.ajax({
      url: "/addToWishlist",
      data: {
        id,
      },
      method: "post",
      success: (response) => {
        if (response.success) {
          Swal.fire({
            icon: "success",
            title: "Success",
            text: "item added to wishlist",
          });
        } else {
          Swal.fire({
            icon: "error",
            title: "error",
            text: "item already exist ",
          });
        }
      },
    });
  }
</script>
<%- include('./partials/userFooter.ejs') %>
