<%- include('./partials/userHeader.ejs') -%>
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1 class="page-name">Shop</h1>
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">shop</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="products section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="widget">
          <h4 class="widget-title">Short By</h4>
          <form method="post" action="#">
            <select class="form-control">
              <option>Man</option>
              <option>Women</option>
              <option>Accessories</option>
              <option>Shoes</option>
            </select>
          </form>
        </div>
        <div class="widget product-category">
          <h4 class="widget-title">Categories</h4>
          <div
            class="panel-group commonAccordion"
            id="accordion"
            role="tablist"
            aria-multiselectable="true"
          >
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Shoes
                  </a>
                </h4>
              </div>
              <div
                id="collapseOne"
                class="panel-collapse collapse in"
                role="tabpanel"
                aria-labelledby="headingOne"
              >
                <div class="panel-body">
                  <ul>
                    <li><a href="#!">Brand & Twist</a></li>
                    <li><a href="#!">Shoe Color</a></li>
                    <li><a href="#!">Shoe Color</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a
                    class="collapsed"
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Duty Wear
                  </a>
                </h4>
              </div>
              <div
                id="collapseTwo"
                class="panel-collapse collapse"
                role="tabpanel"
                aria-labelledby="headingTwo"
              >
                <div class="panel-body">
                  <ul>
                    <li><a href="#!">Brand & Twist</a></li>
                    <li><a href="#!">Shoe Color</a></li>
                    <li><a href="#!">Shoe Color</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a
                    class="collapsed"
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    WorkOut Shoes
                  </a>
                </h4>
              </div>
              <div
                id="collapseThree"
                class="panel-collapse collapse"
                role="tabpanel"
                aria-labelledby="headingThree"
              >
                <div class="panel-body">
                  <ul>
                    <li><a href="#!">Brand & Twist</a></li>
                    <li><a href="#!">Shoe Color</a></li>
                    <li><a href="#!">Gladian Shoes</a></li>
                    <li><a href="#!">Swis Shoes</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <% product.forEach(function(x) { %> <% if(x.status == "listed") { %>
          <div class="col-md-4">
            <div class="product-item">
              <div class="product-thumb">
                <span class="bage">Sale</span>
                <img
                  class="img-responsive"
                  style="width: auto; height: 300px"
                  src="images/petproduct/<%= x.image  %> "
                  alt="product-img"
                />
                <div class="preview-meta">
                  <ul>
                    <!-- <li>
                      <span data-toggle="modal" data-target="#product-modal">
                        <i class="tf-ion-ios-search-strong"></i>
                      </span>
                    </li> -->
                    <li>
                      <a onclick="itemAdded('<%= x._id %>')"
                        ><i class="tf-ion-ios-heart"></i
                      ></a>
                    </li>
                    <li>
                      <a href="/moveToCart/<%= x._id %>"
                        ><i class="tf-ion-android-cart"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="product-content">
                <h4><a href="product-single"><%= x.name %> </a></h4>
                <p class="product-short-description"><%= x.description %></p>

                <p class="price">₹ <%=x.price %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %> <% }) %>
    </div>

    <section class="d-flex justify-content-center mt-2">
      <% if(hasPreviousPage){ %>
      <a
        style="
          text-decoration: none;
          padding: 0.5rem;
          margin: 0 1rem;
          color: rgb(223, 54, 54);
        "
        class="text-center"
        href="/shop?page=<%= PreviousPage %>"
        ><i class="fa-solid fa-chevron-left" aria-hidden="true"></i
      ></a>
      <% } %>
      <a
        style="
          text-decoration: none;
          padding: 0.5rem;
          margin: 0 1rem;
          color: black;
          border: 1px solid black;
        "
        href="/shop?page=<%= page %>"
      >
        <%= page %>
      </a>
      <% if(hasNextPage) { %>
      <a
        style="
          text-decoration: none;
          padding: 0.5rem;
          margin: 0 1rem;
          color: black;
        "
        href="/shop?page=<%=  page+1 %>"
        ><i class="fa-solid fa-chevron-right" aria-hidden="true"></i
      ></a>
      <% } %>
    </section>
  </div>
</section>

<script>
  function itemAdded(id) {
    $.ajax({
      url: "/addToWishlist",
      data: {
        id,
      },
      method: "post",
      success: (response) => {
        if (response.success) {
          Swal.fire({
            icon: "success",
            title: "Success",
            text: "item added to wishlist",
          });
        } else {
          Swal.fire({
            icon: "error",
            title: "error",
            text: "item already exist ",
          });
        }
      },
    });
  }

  function search() {
    let input = document.getElementById("searchbar").value;
    input = input.toLowerCase();
    let x = document.getElementsByClassName("search");
    for (i = 0; i < x.length; i++) {
      if (!x[i].innerHTML.toLowerCase().includes(input)) {
        x[i].style.display = "none";
      } else {
        x[i].style.display = "list-item";
      }
    }
  }
</script>
<%- include('./partials/userFooter.ejs') %>
