<%- include('./partials/userHeader.ejs') %> <% if(list.length==0){ %>
  <section class="empty-cart page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="block text-center">
            <i class="tf-ion-ios-cart-outline"></i>
              <h2 class="text-center">Your wishlist is currently empty.</h2>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, sed.</p> -->
              <a href="/shop" class="btn btn-main mt-20">Return to shop</a>
        </div>
      </div>
    </div>
  </section>
<% }else{ %>
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1 class="page-name">Whislist</h1>
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Whislist</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="page-wrapper">
  <div class="cart shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
            <div class="product-list">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="">Item</th>
                      <th class="">Item Price</th>
                      <th class="">Actions</th>
                      <th></th>
                    </tr>
                  </thead>
                  <% list.forEach(function(x){ %>

                  <tbody>
                    <tr class="">
                      <td class="">
                        <div class="product-info">
                          <img
                            width="50px;"
                            src="/images/petproduct/<%= x.image[0] %>"
                            alt=""
                          />
                          <a href="#!"><%= x.name %></a>
                        </div>
                      </td>
                      <td class="">₹ <%= x.price %></td>

                      <td class="">
                        <a
                          class="product-remove"
                          href="/removeWishlistProduct/<%= x._id %>"
                          >Remove</a
                        >
                      </td>
                      <td class="quantity">
                        <div>
                  
                          <p class="text-center"><a href="/moveToCart/<%= x._id %>" class="btn btn-primary py-3 px-4">Add to Cart</a></p>
                        </div>
                            
                    </td>
                    </tr>
                  </tbody>
                  <% }) %>
                </table>
               
                
              
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<% } %> <%- include('./partials/userFooter.ejs') %>
